

<% if !@orders.nil? %>

    <div class="container">

      <h1>Orders</h1>

      <p id="notice"><%= notice  %></p>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center">User_ID</th>
          <th class="text-center">Supply_ID</th>
          <th class="text-center">Count</th>
          <th class="text-center">Total price</th>
          <th class="text-center">Delivery date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.user_id %></td>
              <td><%= order.supply_id %></td>
              <td><%= order.count %></td>
              <td><%= order.total %></td>
              <td><%= order.deliveryDate %></td>
              <td><%= order.status %></td>
              <td class="text-center">
                <%= link_to 'Show', order, class: 'btn btn-default' %>
                <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-info' %>
                <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% else %>
    <div class="container">
      <h3>
        No orders was made.
      </h3>
    </div>
<% end %>


<br>