<div class="row">
  <div class="col-md-4">
    <div class="panel-default panel">
      <div class="panel-heading">
        <h4>Order # <%= @order.id %></h4>
      </div>
      <div class="panel-body">

        <p id="notice"><%= notice %></p>

        <p>
          <strong>User:</strong>
          <%= @order.user_id %>
        </p>

        <p>
          <strong>Supply:</strong>
          <%= @order.supply_id %>
        </p>

        <p>
          <strong>Count:</strong>
          <%= @order.count %>
        </p>

        <p>
          <strong>Total price:</strong>
          <%= @order.total %>
        </p>

        <p>
          <strong>Delivery Date:</strong>
          <%= @order.deliveryDate %>
        </p>

        <p>
          <strong>Query status:</strong>
          <%= @order.status %>
        </p>

        <%= link_to 'Back to shopping!', supplies_path, class: 'btn btn-info' %>
        <%= link_to 'Back', orders_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>